body {
    /* background: rgb(231,31,166);
    background: radial-gradient(circle, rgba(231,31,166,1) 0%, rgba(110,9,121,1) 55%, rgba(0,212,255,1) 100%); */
    margin: 0px;
    font-family: 'Share Tech Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', sans-serif;
}

/* footer styles */

.footer { 
    background-color: #050505;
    color: #62FF00;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}

.footer > .logo-footer img {
    width: 180px;
    height: 100%;
}