body {
    background: rgb(231,31,166);
    background: radial-gradient(circle, rgba(231,31,166,1) 0%, rgba(110,9,121,1) 55%, rgba(0,212,255,1) 100%);
    margin: 0px;
    font-family: 'Share Tech Mono', monospace;
}


