body {
    /* background: rgb(231,31,166);
    background: radial-gradient(circle, rgba(231,31,166,1) 0%, rgba(110,9,121,1) 55%, rgba(0,212,255,1) 100%); */
    margin: 0px;
    font-family: 'Share Tech Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', sans-serif;
}

/* footer styles */

.footer { 
    background-color: #050505;
    color: #62FF00;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}

.footer > .logo-footer img {
    width: 180px;
    height: 100%;
    filter: brightness(50%);
}

.footer > .footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer > .footer-phone-hours > .hours {
    font-size: 0.8em;
    color: #62FF00;
    text-transform: uppercase;
}

.footer > .links-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
}

.footer > .social-media-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
    font-size: 1.5em;
    color: hotpink;
    transition: 0.5s;
}

.footer > .social-media-icons-wrapper a:hover {
    color: #62FF00;
    
}

.footer > .copyright-wrapper {
    margin-bottom: 42px;
    font-size: 0.7em;
    color: aqua;
}