/* heros section styles */

.hero-section {
    background-image: url(../backgrounds/plastic_abstract.gif);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.hero-section > .top-heading {
    width: 100%;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 20px;
    background-color: black;
    color: #62FF00;
    /* width: 600px; */
    border-radius: 10px;
   
}

.hero-section > .bottom-heading {
    background-color: black;
    color: hotpink;
    padding: 1px 20px;
    margin-top: 15px;
    width: 107px;
    border-radius: 2px;
}

/* features section styles */
.features-section {
    height: 400px;
    /* background-image: url(../backgrounds/googlyeye_header.jpg); */
    /* background-color: black; */
    background: rgb(231,31,166);
    background: radial-gradient(circle, rgba(231,31,166,1) 0%, rgba(110,9,121,1) 55%, rgba(0,212,255,1) 100%);
    color:#62FF00;
    border-top: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.features-section > .columns-wrapper > .column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column:hover {
    border-bottom: 5px solid #62FF00;
}

.features-section > .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2) {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column :nth-child(2):hover {
    letter-spacing: 1px;
}

.features-section > .columns-wrapper > .column :nth-child(3) {
    letter-spacing: 2px;
}